li {
  font-family: serif;
  font-weight: bold;
  font-size: 1.2em;
}

.content-navigation {
  border-color: #3bbfce;
  color: rgb(43.82, 161.8657142857, 175.28);
}

.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bbfce;
}