li {
  font-family: serif;
  font-weight: bold;
  font-size: 1.2em; }

.content-navigation {
  border-color: #3bbfce;
  color: #2ca2af; }

.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bbfce; }
